Importando bibliotecas

In [1]:
import gsidiag as gd
from datetime import datetime, timedelta
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

Definindo parâmetros para o uso do readDiag

In [2]:
DIRdiag = "/mnt/d/Dados/EXP20/gsi_dataout"

varName = "amsua"
varType = "n15"
dateIni="2024020100" 
dateFin="2024020206" 
nHour = "6"          
vminOMA = -2.0       
vmaxOMA = 2.0        
vminSTD = 0.0        
vmaxSTD = 14.0       
Level = 1000
Lay = None           
SingleL = "All" 

datei = datetime.strptime(str(dateIni), "%Y%m%d%H")
datef = datetime.strptime(str(dateFin), "%Y%m%d%H")
dates = [dates.strftime('%Y%m%d%H') for dates in pd.date_range(datei, datef,freq="6H").tolist()]

print(dates)

['2024020100', '2024020106', '2024020112', '2024020118', '2024020200', '2024020206']

Encontrando e listando arquivos para serem usados

In [3]:
paths, pathsc = [], []

OuterL = "01"        
[paths.append(DIRdiag+"/"+dt+"/diag_amsua_n15_"+OuterL+"."+dt) for dt in dates]

OuterLc = "03"
[pathsc.append(DIRdiag+"/"+dt+"/diag_amsua_n15_"+OuterLc+"."+dt) for dt in dates]

print(paths)
print("")
print(pathsc)

['/mnt/d/Dados/EXP20/gsi_dataout/2024020100/diag_amsua_n15_01.2024020100', '/mnt/d/Dados/EXP20/gsi_dataout/2024020106/diag_amsua_n15_01.2024020106', '/mnt/d/Dados/EXP20/gsi_dataout/2024020112/diag_amsua_n15_01.2024020112', '/mnt/d/Dados/EXP20/gsi_dataout/2024020118/diag_amsua_n15_01.2024020118', '/mnt/d/Dados/EXP20/gsi_dataout/2024020200/diag_amsua_n15_01.2024020200', '/mnt/d/Dados/EXP20/gsi_dataout/2024020206/diag_amsua_n15_01.2024020206']

['/mnt/d/Dados/EXP20/gsi_dataout/2024020100/diag_amsua_n15_03.2024020100', '/mnt/d/Dados/EXP20/gsi_dataout/2024020106/diag_amsua_n15_03.2024020106', '/mnt/d/Dados/EXP20/gsi_dataout/2024020112/diag_amsua_n15_03.2024020112', '/mnt/d/Dados/EXP20/gsi_dataout/2024020118/diag_amsua_n15_03.2024020118', '/mnt/d/Dados/EXP20/gsi_dataout/2024020200/diag_amsua_n15_03.2024020200', '/mnt/d/Dados/EXP20/gsi_dataout/2024020206/diag_amsua_n15_03.2024020206']

Lendo arquivos listado usando o readDiag e concatenando os dados

In [4]:
# Define uma variável booleana 'read' como True para indicar que a leitura dos arquivos será realizada
read = True

# Verifica se 'read' é True para prosseguir com a leitura dos arquivos
if read:        
    # Inicializa uma lista vazia para armazenar os objetos gdf
    gdf_list = []
    # Imprime uma mensagem informando o tempo estimado necessário para a leitura dos arquivos
    print("")
    print("Aguarde, o tempo total estimado para a leitura dos arquivos é de "+
          str(int((float(len(paths))*20 )/60))+" minutos e "+
          str(int((float(len(paths))*20 )%60))+" segundos.")
    print("")
    # Itera sobre os caminhos dos arquivos e seus caminhos de configuração correspondentes
    for path, pathc in zip(paths,pathsc):
        # Imprime uma mensagem indicando o arquivo que está sendo lido
        print("Reading "+path)
        # Lê o arquivo usando a função read_diag do módulo gsidiag e armazena o objeto retornado em gdf
        gdf = gd.read_diag(path,pathc)
        # Adiciona o objeto gdf à lista gdf_list
        gdf_list.append(gdf)

    # Imprime a lista de objetos gdf lidos
    print(gdf_list)
    
    # Define uma string separadora para uso posterior
    separator = " ====================================================================================================="

Aguarde, o tempo total estimado para a leitura dos arquivos é de 2 minutos e 0 segundos.

Reading /mnt/d/Dados/EXP20/gsi_dataout/2024020100/diag_amsua_n15_01.2024020100

>>> GSI DIAG <<<

Reading /mnt/d/Dados/EXP20/gsi_dataout/2024020106/diag_amsua_n15_01.2024020106

>>> GSI DIAG <<<

Reading /mnt/d/Dados/EXP20/gsi_dataout/2024020112/diag_amsua_n15_01.2024020112

>>> GSI DIAG <<<

Reading /mnt/d/Dados/EXP20/gsi_dataout/2024020118/diag_amsua_n15_01.2024020118

>>> GSI DIAG <<<

Reading /mnt/d/Dados/EXP20/gsi_dataout/2024020200/diag_amsua_n15_01.2024020200

>>> GSI DIAG <<<

Reading /mnt/d/Dados/EXP20/gsi_dataout/2024020206/diag_amsua_n15_01.2024020206

>>> GSI DIAG <<<

[<gsidiag.__main__.read_diag object at 0x7f2a1e2df310>, <gsidiag.__main__.read_diag object at 0x7f2a1e24bd50>, <gsidiag.__main__.read_diag object at 0x7f2a1e245ad0>, <gsidiag.__main__.read_diag object at 0x7f2a1e348650>, <gsidiag.__main__.read_diag object at 0x7f2a1e32cf90>, <gsidiag.__main__.read_diag object at 0x7f2a16d9cb50>]

In [5]:
# Inicialização de DataFrame vazio para armazenar dados concatenados
df_concatenado2 = pd.DataFrame()

# Iteração sobre objetos em gdf_list
for objeto in gdf_list:
        
    print(separator)
    print("Separando dados do arquivo" + str(objeto._diagFile))
    
    # Criação de dicionário de dados a partir do objeto   
    dados_dict = {
            'lat': objeto.obsInfo[varName].loc[varType].lat,
            'lon': objeto.obsInfo[varName].loc[varType].lon,
            'elev': objeto.obsInfo[varName].loc[varType].elev,
            'nchan': objeto.obsInfo[varName].loc[varType].nchan,
            'time': objeto.obsInfo[varName].loc[varType].time,
            'iuse': objeto.obsInfo[varName].loc[varType].iuse,
            'idqc': objeto.obsInfo[varName].loc[varType].idqc,
            'inverr': objeto.obsInfo[varName].loc[varType].inverr,
            'oer': objeto.obsInfo[varName].loc[varType].oer,
            'obs': objeto.obsInfo[varName].loc[varType].obs,
            'omf': objeto.obsInfo[varName].loc[varType].omf,
            'omf_nobc': objeto.obsInfo[varName].loc[varType].omf_nobc,
            'emiss': objeto.obsInfo[varName].loc[varType].emiss,
            'oma': objeto.obsInfo[varName].loc[varType].oma,
            'oma_nobc': objeto.obsInfo[varName].loc[varType].oma_nobc,
            'imp': objeto.obsInfo[varName].loc[varType].imp,
            'dfs': objeto.obsInfo[varName].loc[varType].dfs
            }
        
    # Conversão do dicionário em DataFrame
    df_objeto = pd.DataFrame(dados_dict)
        
    # Concatenação do DataFrame do objeto com o DataFrame concatenado
    df_concatenado2 = pd.concat([df_concatenado2, df_objeto], ignore_index=True)

 =====================================================================================================
Separando dados do arquivo/mnt/d/Dados/EXP20/gsi_dataout/2024020100/diag_amsua_n15_01.2024020100
 =====================================================================================================
Separando dados do arquivo/mnt/d/Dados/EXP20/gsi_dataout/2024020106/diag_amsua_n15_01.2024020106
 =====================================================================================================
Separando dados do arquivo/mnt/d/Dados/EXP20/gsi_dataout/2024020112/diag_amsua_n15_01.2024020112
 =====================================================================================================
Separando dados do arquivo/mnt/d/Dados/EXP20/gsi_dataout/2024020118/diag_amsua_n15_01.2024020118
 =====================================================================================================
Separando dados do arquivo/mnt/d/Dados/EXP20/gsi_dataout/2024020200/diag_amsua_n15_01.2024020200
 =====================================================================================================
Separando dados do arquivo/mnt/d/Dados/EXP20/gsi_dataout/2024020206/diag_amsua_n15_01.2024020206

In [6]:
tidx = 0
gdf_list[tidx].pfileinfo()

Variable Name : amsua
              └── kx => n15

In [7]:
gdf_list[tidx].obsInfo

{'amsua':                     lat         lon         elev  nchan      time  iuse  \
 SatId points
 n15   0      -87.624702   17.167101  2717.753174    1.0  0.620278  -1.0
       1      -87.624702   17.167101  2717.753174    2.0  0.620278  -1.0
       2      -87.624702   17.167101  2717.753174    3.0  0.620278  -1.0
       3      -87.624702   17.167101  2717.753174    4.0  0.620278  -1.0
       4      -87.624702   17.167101  2717.753174    5.0  0.620278  -1.0
 ...                 ...         ...          ...    ...       ...   ...
       133585 -18.969700  336.840790    -0.012560   11.0 -2.418611  -1.0
       133586 -18.969700  336.840790    -0.012560   12.0 -2.418611   1.0
       133587 -18.969700  336.840790    -0.012560   13.0 -2.418611   1.0
       133588 -18.969700  336.840790    -0.012560   14.0 -2.418611  -1.0
       133589 -18.969700  336.840790    -0.012560   15.0 -2.418611  -1.0

                     idqc        inverr           oer           obs  \
 SatId points
 n15   0       -50.000000  0.000000e+00           NaN  1.896700e+02
       1         0.000000 -3.035098e+00           NaN  1.000000e+10
       2         4.404318  4.404318e+00  2.523255e-01  0.000000e+00
       3         0.718398  2.272000e+02  4.401409e-03  0.000000e+00
       4       230.919998  1.000000e+10  1.000000e-10 -6.690545e-01
 ...                  ...           ...           ...           ...
       133585    0.299281  2.001880e-01  4.995304e+00  0.000000e+00
       133586    0.200188  0.000000e+00           NaN -6.525623e+00
       133587    0.000000  0.000000e+00           NaN  6.805621e+01
       133588    0.000000  0.000000e+00           NaN  0.000000e+00
       133589    0.000000 -5.534282e+00           NaN  0.000000e+00

                        omf      omf_nobc      emiss           oma  \
 SatId points
 n15   0      -6.070127e+00 -6.070127e+00   0.000000 -5.253485e+00
       1       1.902100e+02 -3.035098e+00 -50.000000  1.902100e+02
       2       1.000000e+10  2.130300e+02   0.000000  1.000000e+10
       3       0.000000e+00  1.000000e+10   0.718398  0.000000e+00
       4       0.000000e+00  0.000000e+00  -0.411877  0.000000e+00
 ...                    ...           ...        ...           ...
       133585  0.000000e+00  0.000000e+00   0.447424  0.000000e+00
       133586  0.000000e+00  0.000000e+00   0.299281  0.000000e+00
       133587 -8.249619e+00  0.000000e+00   0.200188 -8.089034e+00
       133588  7.441349e+01 -8.626326e+00   0.000000  7.918086e+01
       133589  0.000000e+00  3.062828e+01   0.000000  0.000000e+00

                   oma_nobc  imp  dfs                     geometry
 SatId points
 n15   0      -5.253485e+00  NaN  NaN   POINT (17.16710 -87.62470)
       1      -2.672624e+00  NaN  NaN   POINT (17.16710 -87.62470)
       2       2.130300e+02  0.0  0.0   POINT (17.16710 -87.62470)
       3       1.000000e+10  0.0  0.0   POINT (17.16710 -87.62470)
       4       0.000000e+00  0.0  0.0   POINT (17.16710 -87.62470)
 ...                    ...  ...  ...                          ...
       133585  0.000000e+00  0.0  0.0  POINT (-23.15918 -18.96970)
       133586  0.000000e+00  NaN  NaN  POINT (-23.15918 -18.96970)
       133587  0.000000e+00  NaN  NaN  POINT (-23.15918 -18.96970)
       133588 -8.898363e+00  NaN  NaN  POINT (-23.15918 -18.96970)
       133589  3.831966e+01  NaN  NaN  POINT (-23.15918 -18.96970)

 [133590 rows x 18 columns]}

In [8]:
print('Variável: ', varName)

gdf_list[tidx].obsInfo[varName]

Variável:  amsua

                    lat         lon         elev  nchan      time  iuse  \
SatId points
n15   0      -87.624702   17.167101  2717.753174    1.0  0.620278  -1.0
      1      -87.624702   17.167101  2717.753174    2.0  0.620278  -1.0
      2      -87.624702   17.167101  2717.753174    3.0  0.620278  -1.0
      3      -87.624702   17.167101  2717.753174    4.0  0.620278  -1.0
      4      -87.624702   17.167101  2717.753174    5.0  0.620278  -1.0
...                 ...         ...          ...    ...       ...   ...
      133585 -18.969700  336.840790    -0.012560   11.0 -2.418611  -1.0
      133586 -18.969700  336.840790    -0.012560   12.0 -2.418611   1.0
      133587 -18.969700  336.840790    -0.012560   13.0 -2.418611   1.0
      133588 -18.969700  336.840790    -0.012560   14.0 -2.418611  -1.0
      133589 -18.969700  336.840790    -0.012560   15.0 -2.418611  -1.0

                    idqc        inverr           oer           obs  \
SatId points
n15   0       -50.000000  0.000000e+00           NaN  1.896700e+02
      1         0.000000 -3.035098e+00           NaN  1.000000e+10
      2         4.404318  4.404318e+00  2.523255e-01  0.000000e+00
      3         0.718398  2.272000e+02  4.401409e-03  0.000000e+00
      4       230.919998  1.000000e+10  1.000000e-10 -6.690545e-01
...                  ...           ...           ...           ...
      133585    0.299281  2.001880e-01  4.995304e+00  0.000000e+00
      133586    0.200188  0.000000e+00           NaN -6.525623e+00
      133587    0.000000  0.000000e+00           NaN  6.805621e+01
      133588    0.000000  0.000000e+00           NaN  0.000000e+00
      133589    0.000000 -5.534282e+00           NaN  0.000000e+00

                       omf      omf_nobc      emiss           oma  \
SatId points
n15   0      -6.070127e+00 -6.070127e+00   0.000000 -5.253485e+00
      1       1.902100e+02 -3.035098e+00 -50.000000  1.902100e+02
      2       1.000000e+10  2.130300e+02   0.000000  1.000000e+10
      3       0.000000e+00  1.000000e+10   0.718398  0.000000e+00
      4       0.000000e+00  0.000000e+00  -0.411877  0.000000e+00
...                    ...           ...        ...           ...
      133585  0.000000e+00  0.000000e+00   0.447424  0.000000e+00
      133586  0.000000e+00  0.000000e+00   0.299281  0.000000e+00
      133587 -8.249619e+00  0.000000e+00   0.200188 -8.089034e+00
      133588  7.441349e+01 -8.626326e+00   0.000000  7.918086e+01
      133589  0.000000e+00  3.062828e+01   0.000000  0.000000e+00

                  oma_nobc  imp  dfs                     geometry
SatId points
n15   0      -5.253485e+00  NaN  NaN   POINT (17.16710 -87.62470)
      1      -2.672624e+00  NaN  NaN   POINT (17.16710 -87.62470)
      2       2.130300e+02  0.0  0.0   POINT (17.16710 -87.62470)
      3       1.000000e+10  0.0  0.0   POINT (17.16710 -87.62470)
      4       0.000000e+00  0.0  0.0   POINT (17.16710 -87.62470)
...                    ...  ...  ...                          ...
      133585  0.000000e+00  0.0  0.0  POINT (-23.15918 -18.96970)
      133586  0.000000e+00  NaN  NaN  POINT (-23.15918 -18.96970)
      133587  0.000000e+00  NaN  NaN  POINT (-23.15918 -18.96970)
      133588 -8.898363e+00  NaN  NaN  POINT (-23.15918 -18.96970)
      133589  3.831966e+01  NaN  NaN  POINT (-23.15918 -18.96970)

[133590 rows x 18 columns]

In [9]:
print(df_concatenado2)

              lat         lon         elev  nchan      time  iuse        idqc  \
0      -87.624702   17.167101  2717.753174    1.0  0.620278  -1.0  -50.000000
1      -87.624702   17.167101  2717.753174    2.0  0.620278  -1.0    0.000000
2      -87.624702   17.167101  2717.753174    3.0  0.620278  -1.0    4.404318
3      -87.624702   17.167101  2717.753174    4.0  0.620278  -1.0    0.718398
4      -87.624702   17.167101  2717.753174    5.0  0.620278  -1.0  230.919998
...           ...         ...          ...    ...       ...   ...         ...
677380  69.628601  358.934998     0.004004   11.0  1.859167  -1.0    0.299281
677381  69.628601  358.934998     0.004004   12.0  1.859167   1.0    0.200188
677382  69.628601  358.934998     0.004004   13.0  1.859167   1.0    0.000000
677383  69.628601  358.934998     0.004004   14.0  1.859167  -1.0    0.000000
677384  69.628601  358.934998     0.004004   15.0  1.859167  -1.0    0.000000

              inverr           oer           obs           omf      omf_nobc  \
0       0.000000e+00           NaN  1.896700e+02 -6.070127e+00 -6.070127e+00
1      -3.035098e+00           NaN  1.000000e+10  1.902100e+02 -3.035098e+00
2       4.404318e+00  2.523255e-01  0.000000e+00  1.000000e+10  2.130300e+02
3       2.272000e+02  4.401409e-03  0.000000e+00  0.000000e+00  1.000000e+10
4       1.000000e+10  1.000000e-10 -6.690545e-01  0.000000e+00  0.000000e+00
...              ...           ...           ...           ...           ...
677380  2.001880e-01  4.995304e+00  0.000000e+00  0.000000e+00  0.000000e+00
677381  0.000000e+00           NaN -1.563968e+00  0.000000e+00  0.000000e+00
677382  0.000000e+00           NaN  3.017315e+00 -1.737042e+00  0.000000e+00
677383  0.000000e+00           NaN  0.000000e+00  7.227097e+00 -2.688326e+00
677384 -5.735774e+00           NaN  0.000000e+00  0.000000e+00  3.289910e+01

            emiss           oma      oma_nobc  imp  dfs
0        0.000000 -5.253485e+00 -5.253485e+00  NaN  NaN
1      -50.000000  1.902100e+02 -2.672624e+00  NaN  NaN
2        0.000000  1.000000e+10  2.130300e+02  0.0  0.0
3        0.718398  0.000000e+00  1.000000e+10  0.0  0.0
4       -0.411877  0.000000e+00  0.000000e+00  0.0  0.0
...           ...           ...           ...  ...  ...
677380   0.447424  0.000000e+00  0.000000e+00  0.0  0.0
677381   0.299281  0.000000e+00  0.000000e+00  NaN  NaN
677382   0.200188 -1.850534e+00  0.000000e+00  NaN  NaN
677383   0.000000  6.791286e+00 -2.606009e+00  NaN  NaN
677384   0.000000  0.000000e+00  3.296272e+01  NaN  NaN

[677385 rows x 17 columns]

In [10]:
# Remoção de linhas com valores NaN
df_concatenado2.dropna(inplace=True)

# Filtrando os canais sub-representados
df_concatenado2 = df_concatenado2[~df_concatenado2['nchan'].isin([1, 2, 3, 4, 5, 15])]

print(df_concatenado2)

print(separator)

              lat         lon         elev  nchan      time  iuse      idqc  \
8      -87.624702   17.167101  2717.753174    9.0  0.620278   1.0 -0.669055
10     -87.624702   17.167101  2717.753174   11.0  0.620278  -1.0 -0.299492
23     -86.864799   15.724700  2717.426758    9.0  0.620278   1.0 -0.610883
25     -86.864799   15.724700  2717.426758   11.0  0.620278  -1.0 -0.227968
38     -85.726898    5.581800  2643.441162    9.0 -2.728611   1.0 -0.669055
...           ...         ...          ...    ...       ...   ...       ...
677365  68.229401  358.282898    -0.187747   11.0  1.865833  -1.0  0.299281
677377  69.628601  358.934998     0.004004    8.0  1.859167   1.0  0.000000
677378  69.628601  358.934998     0.004004    9.0  1.859167   1.0  0.668897
677379  69.628601  358.934998     0.004004   10.0  1.859167   1.0  0.447424
677380  69.628601  358.934998     0.004004   11.0  1.859167  -1.0  0.299281

          inverr       oer       obs       omf  omf_nobc     emiss       oma  \
8       0.447634  2.233968  0.063470  0.200376 -0.299492  0.000000  0.200376
10      0.200376  4.990614  0.000000  0.000000  0.000000  0.447634  0.000000
23      0.373178  2.679689  0.104773  0.139262 -0.227968  0.000000  0.139262
25      0.139262  7.180732  0.000000  0.000000  0.000000  0.373178  0.000000
38      0.447634  2.233968  0.058683  0.200376 -0.299492  0.000000  0.200376
...          ...       ...       ...       ...       ...       ...       ...
677365  0.200188  4.995304  0.000000  0.000000  0.000000  0.447424  0.000000
677377  0.668897  1.494998  0.200188  0.299281  0.447424  0.000000  0.299281
677378  0.447424  2.235018  0.001312  0.200188  0.299281  0.000000  0.200188
677379  0.299281  3.341346  0.000000  0.000000  0.200188  0.668897  0.000000
677380  0.200188  4.995304  0.000000  0.000000  0.000000  0.447424  0.000000

        oma_nobc  imp  dfs
8      -0.299492  0.0  0.0
10      0.000000  0.0  0.0
23     -0.227968  0.0  0.0
25      0.000000  0.0  0.0
38     -0.299492  0.0  0.0
...          ...  ...  ...
677365  0.000000  0.0  0.0
677377  0.447424  0.0  0.0
677378  0.299281  0.0  0.0
677379  0.200188  0.0  0.0
677380  0.000000  0.0  0.0

[71439 rows x 17 columns]
 =====================================================================================================