Importando bibliotecas

In [1]:
import gsidiag as gd
from datetime import datetime, timedelta
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

Definindo parâmetros para o uso do readDiag

In [2]:
DIRdiag = "/mnt/d/Dados/EXP19/gsi_dataout"

varName = "amsua"
varType = "n15"
dateIni="2024020100" 
dateFin="2024020206" 
nHour = "6"          
vminOMA = -2.0       
vmaxOMA = 2.0        
vminSTD = 0.0        
vmaxSTD = 14.0       
Level = 1000
Lay = None           
SingleL = "All" 

datei = datetime.strptime(str(dateIni), "%Y%m%d%H")
datef = datetime.strptime(str(dateFin), "%Y%m%d%H")
dates = [dates.strftime('%Y%m%d%H') for dates in pd.date_range(datei, datef,freq="6H").tolist()]

print(dates)

['2024020100', '2024020106', '2024020112', '2024020118', '2024020200', '2024020206']

Encontrando e listando arquivos para serem usados

In [3]:
paths, pathsc = [], []

OuterL = "01"        
[paths.append(DIRdiag+"/"+dt+"/diag_amsua_n15_"+OuterL+"."+dt) for dt in dates]

OuterLc = "03"
[pathsc.append(DIRdiag+"/"+dt+"/diag_amsua_n15_"+OuterLc+"."+dt) for dt in dates]

print(paths)
print("")
print(pathsc)

['/mnt/d/Dados/EXP19/gsi_dataout/2024020100/diag_amsua_n15_01.2024020100', '/mnt/d/Dados/EXP19/gsi_dataout/2024020106/diag_amsua_n15_01.2024020106', '/mnt/d/Dados/EXP19/gsi_dataout/2024020112/diag_amsua_n15_01.2024020112', '/mnt/d/Dados/EXP19/gsi_dataout/2024020118/diag_amsua_n15_01.2024020118', '/mnt/d/Dados/EXP19/gsi_dataout/2024020200/diag_amsua_n15_01.2024020200', '/mnt/d/Dados/EXP19/gsi_dataout/2024020206/diag_amsua_n15_01.2024020206']

['/mnt/d/Dados/EXP19/gsi_dataout/2024020100/diag_amsua_n15_03.2024020100', '/mnt/d/Dados/EXP19/gsi_dataout/2024020106/diag_amsua_n15_03.2024020106', '/mnt/d/Dados/EXP19/gsi_dataout/2024020112/diag_amsua_n15_03.2024020112', '/mnt/d/Dados/EXP19/gsi_dataout/2024020118/diag_amsua_n15_03.2024020118', '/mnt/d/Dados/EXP19/gsi_dataout/2024020200/diag_amsua_n15_03.2024020200', '/mnt/d/Dados/EXP19/gsi_dataout/2024020206/diag_amsua_n15_03.2024020206']

Lendo arquivos listado usando o readDiag e concatenando os dados

In [4]:
# Define uma variável booleana 'read' como True para indicar que a leitura dos arquivos será realizada
read = True

# Verifica se 'read' é True para prosseguir com a leitura dos arquivos
if read:        
    # Inicializa uma lista vazia para armazenar os objetos gdf
    gdf_list = []
    # Imprime uma mensagem informando o tempo estimado necessário para a leitura dos arquivos
    print("")
    print("Aguarde, o tempo total estimado para a leitura dos arquivos é de "+
          str(int((float(len(paths))*20 )/60))+" minutos e "+
          str(int((float(len(paths))*20 )%60))+" segundos.")
    print("")
    # Itera sobre os caminhos dos arquivos e seus caminhos de configuração correspondentes
    for path, pathc in zip(paths,pathsc):
        # Imprime uma mensagem indicando o arquivo que está sendo lido
        print("Reading "+path)
        # Lê o arquivo usando a função read_diag do módulo gsidiag e armazena o objeto retornado em gdf
        gdf = gd.read_diag(path,pathc)
        # Adiciona o objeto gdf à lista gdf_list
        gdf_list.append(gdf)

    # Imprime a lista de objetos gdf lidos
    print(gdf_list)
    
    # Define uma string separadora para uso posterior
    separator = " ====================================================================================================="

Aguarde, o tempo total estimado para a leitura dos arquivos é de 2 minutos e 0 segundos.

Reading /mnt/d/Dados/EXP19/gsi_dataout/2024020100/diag_amsua_n15_01.2024020100

>>> GSI DIAG <<<

Reading /mnt/d/Dados/EXP19/gsi_dataout/2024020106/diag_amsua_n15_01.2024020106

>>> GSI DIAG <<<

Reading /mnt/d/Dados/EXP19/gsi_dataout/2024020112/diag_amsua_n15_01.2024020112

>>> GSI DIAG <<<

Reading /mnt/d/Dados/EXP19/gsi_dataout/2024020118/diag_amsua_n15_01.2024020118

>>> GSI DIAG <<<

Reading /mnt/d/Dados/EXP19/gsi_dataout/2024020200/diag_amsua_n15_01.2024020200

>>> GSI DIAG <<<

Reading /mnt/d/Dados/EXP19/gsi_dataout/2024020206/diag_amsua_n15_01.2024020206

>>> GSI DIAG <<<

[<gsidiag.__main__.read_diag object at 0x7f3790dd4950>, <gsidiag.__main__.read_diag object at 0x7f37910a15d0>, <gsidiag.__main__.read_diag object at 0x7f37932c6110>, <gsidiag.__main__.read_diag object at 0x7f379325a290>, <gsidiag.__main__.read_diag object at 0x7f3793311650>, <gsidiag.__main__.read_diag object at 0x7f379329fb10>]

In [5]:
# Inicialização de DataFrame vazio para armazenar dados concatenados
df_concatenado2 = pd.DataFrame()

# Iteração sobre objetos em gdf_list
for objeto in gdf_list:
        
    print(separator)
    print("Separando dados do arquivo" + str(objeto._diagFile))
    
    # Criação de dicionário de dados a partir do objeto   
    dados_dict = {
            'lat': objeto.obsInfo[varName].loc[varType].lat,
            'lon': objeto.obsInfo[varName].loc[varType].lon,
            'elev': objeto.obsInfo[varName].loc[varType].elev,
            'nchan': objeto.obsInfo[varName].loc[varType].nchan,
            'time': objeto.obsInfo[varName].loc[varType].time,
            'iuse': objeto.obsInfo[varName].loc[varType].iuse,
            'idqc': objeto.obsInfo[varName].loc[varType].idqc,
            'inverr': objeto.obsInfo[varName].loc[varType].inverr,
            'oer': objeto.obsInfo[varName].loc[varType].oer,
            'obs': objeto.obsInfo[varName].loc[varType].obs,
            'omf': objeto.obsInfo[varName].loc[varType].omf,
            'omf_nobc': objeto.obsInfo[varName].loc[varType].omf_nobc,
            'emiss': objeto.obsInfo[varName].loc[varType].emiss,
            'oma': objeto.obsInfo[varName].loc[varType].oma,
            'oma_nobc': objeto.obsInfo[varName].loc[varType].oma_nobc,
            'imp': objeto.obsInfo[varName].loc[varType].imp,
            'dfs': objeto.obsInfo[varName].loc[varType].dfs
            }
        
    # Conversão do dicionário em DataFrame
    df_objeto = pd.DataFrame(dados_dict)
        
    # Concatenação do DataFrame do objeto com o DataFrame concatenado
    df_concatenado2 = pd.concat([df_concatenado2, df_objeto], ignore_index=True)

 =====================================================================================================
Separando dados do arquivo/mnt/d/Dados/EXP19/gsi_dataout/2024020100/diag_amsua_n15_01.2024020100
 =====================================================================================================
Separando dados do arquivo/mnt/d/Dados/EXP19/gsi_dataout/2024020106/diag_amsua_n15_01.2024020106
 =====================================================================================================
Separando dados do arquivo/mnt/d/Dados/EXP19/gsi_dataout/2024020112/diag_amsua_n15_01.2024020112
 =====================================================================================================
Separando dados do arquivo/mnt/d/Dados/EXP19/gsi_dataout/2024020118/diag_amsua_n15_01.2024020118
 =====================================================================================================
Separando dados do arquivo/mnt/d/Dados/EXP19/gsi_dataout/2024020200/diag_amsua_n15_01.2024020200
 =====================================================================================================
Separando dados do arquivo/mnt/d/Dados/EXP19/gsi_dataout/2024020206/diag_amsua_n15_01.2024020206

In [6]:
tidx = 0
gdf_list[tidx].pfileinfo()

Variable Name : amsua
              └── kx => n15

In [7]:
gdf_list[tidx].obsInfo

{'amsua':                     lat        lon         elev  nchan      time  iuse  idqc  \
 SatId points
 n15   0      -86.720299   19.59370  2746.393066    1.0 -1.057500   1.0  50.0
       1      -86.720299   19.59370  2746.393066    2.0 -1.057500   1.0  50.0
       2      -86.720299   19.59370  2746.393066    3.0 -1.057500   1.0  50.0
       3      -86.720299   19.59370  2746.393066    4.0 -1.057500   1.0  50.0
       4      -86.720299   19.59370  2746.393066    5.0 -1.057500   1.0  50.0
 ...                 ...        ...          ...    ...       ...   ...   ...
       133570 -18.969700  336.84079    -0.012560   11.0 -2.418611  -1.0  -3.0
       133571 -18.969700  336.84079    -0.012560   12.0 -2.418611   1.0   0.0
       133572 -18.969700  336.84079    -0.012560   13.0 -2.418611   1.0   0.0
       133573 -18.969700  336.84079    -0.012560   14.0 -2.418611  -1.0  -3.0
       133574 -18.969700  336.84079    -0.012560   15.0 -2.418611   1.0  51.0

                 inverr       oer           obs           omf      omf_nobc  \
 SatId points
 n15   0       0.000000       NaN  1.844700e+02 -8.802065e+00 -7.546255e+00
       1       0.000000       NaN  1.861100e+02 -3.573777e+00 -3.561214e+00
       2       0.000000       NaN  2.112500e+02 -1.515568e+00  4.330688e+00
       3       0.000000       NaN  2.261900e+02  2.068624e+00  1.918094e+00
       4       0.000000       NaN  2.305400e+02  6.378587e-01  4.116984e-01
 ...                ...       ...           ...           ...           ...
       133570  0.000000       NaN  1.000000e+11  1.000000e+11  1.000000e+11
       133571  0.999779  1.000218  2.339300e+02  7.279637e-01  1.058260e+00
       133572  0.665913  1.501675  2.458700e+02  9.866983e-01  1.712855e+00
       133573  0.000000       NaN  1.000000e+11  1.000000e+11  1.000000e+11
       133574  0.000000       NaN  2.553000e+02 -3.348680e+01 -3.321323e+01

                  emiss           oma      oma_nobc       imp       dfs  \
 SatId points
 n15   0       0.808905 -8.477887e+00 -7.215997e+00       NaN       NaN
       1       0.796859 -3.221851e+00 -3.214722e+00       NaN       NaN
       2       0.799757 -1.054891e+00  4.754642e+00       NaN       NaN
       3       0.799599  2.074164e+00  1.886987e+00       NaN       NaN
       4       0.799180  5.551700e-01  2.964699e-01       NaN       NaN
 ...                ...           ...           ...       ...       ...
       133570  0.842581  1.000000e+11  1.000000e+11       NaN       NaN
       133571  0.842581  6.204231e-02  3.573996e-01 -0.525967 -0.484661
       133572  0.842581  3.585850e-01  1.087280e+00 -0.562698 -0.412711
       133573  0.842581  1.000000e+11  1.000000e+11       NaN       NaN
       133574  0.950000 -3.355240e+01 -3.330076e+01       NaN       NaN

                                  geometry
 SatId points
 n15   0        POINT (19.59370 -86.72030)
       1        POINT (19.59370 -86.72030)
       2        POINT (19.59370 -86.72030)
       3        POINT (19.59370 -86.72030)
       4        POINT (19.59370 -86.72030)
 ...                                   ...
       133570  POINT (-23.15918 -18.96970)
       133571  POINT (-23.15918 -18.96970)
       133572  POINT (-23.15918 -18.96970)
       133573  POINT (-23.15918 -18.96970)
       133574  POINT (-23.15918 -18.96970)

 [133575 rows x 18 columns]}

In [8]:
print('Variável: ', varName)

gdf_list[tidx].obsInfo[varName]

Variável:  amsua

                    lat        lon         elev  nchan      time  iuse  idqc  \
SatId points
n15   0      -86.720299   19.59370  2746.393066    1.0 -1.057500   1.0  50.0
      1      -86.720299   19.59370  2746.393066    2.0 -1.057500   1.0  50.0
      2      -86.720299   19.59370  2746.393066    3.0 -1.057500   1.0  50.0
      3      -86.720299   19.59370  2746.393066    4.0 -1.057500   1.0  50.0
      4      -86.720299   19.59370  2746.393066    5.0 -1.057500   1.0  50.0
...                 ...        ...          ...    ...       ...   ...   ...
      133570 -18.969700  336.84079    -0.012560   11.0 -2.418611  -1.0  -3.0
      133571 -18.969700  336.84079    -0.012560   12.0 -2.418611   1.0   0.0
      133572 -18.969700  336.84079    -0.012560   13.0 -2.418611   1.0   0.0
      133573 -18.969700  336.84079    -0.012560   14.0 -2.418611  -1.0  -3.0
      133574 -18.969700  336.84079    -0.012560   15.0 -2.418611   1.0  51.0

                inverr       oer           obs           omf      omf_nobc  \
SatId points
n15   0       0.000000       NaN  1.844700e+02 -8.802065e+00 -7.546255e+00
      1       0.000000       NaN  1.861100e+02 -3.573777e+00 -3.561214e+00
      2       0.000000       NaN  2.112500e+02 -1.515568e+00  4.330688e+00
      3       0.000000       NaN  2.261900e+02  2.068624e+00  1.918094e+00
      4       0.000000       NaN  2.305400e+02  6.378587e-01  4.116984e-01
...                ...       ...           ...           ...           ...
      133570  0.000000       NaN  1.000000e+11  1.000000e+11  1.000000e+11
      133571  0.999779  1.000218  2.339300e+02  7.279637e-01  1.058260e+00
      133572  0.665913  1.501675  2.458700e+02  9.866983e-01  1.712855e+00
      133573  0.000000       NaN  1.000000e+11  1.000000e+11  1.000000e+11
      133574  0.000000       NaN  2.553000e+02 -3.348680e+01 -3.321323e+01

                 emiss           oma      oma_nobc       imp       dfs  \
SatId points
n15   0       0.808905 -8.477887e+00 -7.215997e+00       NaN       NaN
      1       0.796859 -3.221851e+00 -3.214722e+00       NaN       NaN
      2       0.799757 -1.054891e+00  4.754642e+00       NaN       NaN
      3       0.799599  2.074164e+00  1.886987e+00       NaN       NaN
      4       0.799180  5.551700e-01  2.964699e-01       NaN       NaN
...                ...           ...           ...       ...       ...
      133570  0.842581  1.000000e+11  1.000000e+11       NaN       NaN
      133571  0.842581  6.204231e-02  3.573996e-01 -0.525967 -0.484661
      133572  0.842581  3.585850e-01  1.087280e+00 -0.562698 -0.412711
      133573  0.842581  1.000000e+11  1.000000e+11       NaN       NaN
      133574  0.950000 -3.355240e+01 -3.330076e+01       NaN       NaN

                                 geometry
SatId points
n15   0        POINT (19.59370 -86.72030)
      1        POINT (19.59370 -86.72030)
      2        POINT (19.59370 -86.72030)
      3        POINT (19.59370 -86.72030)
      4        POINT (19.59370 -86.72030)
...                                   ...
      133570  POINT (-23.15918 -18.96970)
      133571  POINT (-23.15918 -18.96970)
      133572  POINT (-23.15918 -18.96970)
      133573  POINT (-23.15918 -18.96970)
      133574  POINT (-23.15918 -18.96970)

[133575 rows x 18 columns]

In [9]:
print(df_concatenado2)

              lat         lon         elev  nchan      time  iuse  idqc  \
0      -86.720299   19.593700  2746.393066    1.0 -1.057500   1.0  50.0
1      -86.720299   19.593700  2746.393066    2.0 -1.057500   1.0  50.0
2      -86.720299   19.593700  2746.393066    3.0 -1.057500   1.0  50.0
3      -86.720299   19.593700  2746.393066    4.0 -1.057500   1.0  50.0
4      -86.720299   19.593700  2746.393066    5.0 -1.057500   1.0  50.0
...           ...         ...          ...    ...       ...   ...   ...
676450  69.628601  358.934998     0.004004   11.0  1.859167  -1.0  -3.0
676451  69.628601  358.934998     0.004004   12.0  1.859167   1.0   0.0
676452  69.628601  358.934998     0.004004   13.0  1.859167   1.0   0.0
676453  69.628601  358.934998     0.004004   14.0  1.859167  -1.0  -3.0
676454  69.628601  358.934998     0.004004   15.0  1.859167   1.0  50.0

          inverr       oer           obs           omf      omf_nobc  \
0       0.000000       NaN  1.844700e+02 -8.802065e+00 -7.546255e+00
1       0.000000       NaN  1.861100e+02 -3.573777e+00 -3.561214e+00
2       0.000000       NaN  2.112500e+02 -1.515568e+00  4.330688e+00
3       0.000000       NaN  2.261900e+02  2.068624e+00  1.918094e+00
4       0.000000       NaN  2.305400e+02  6.378587e-01  4.116984e-01
...          ...       ...           ...           ...           ...
676450  0.000000       NaN  1.000000e+11  1.000000e+11  1.000000e+11
676451  0.999762  1.000235  2.166100e+02 -5.509096e-01 -4.835589e-01
676452  0.665854  1.501807  2.195900e+02  7.915445e-01  9.625729e-01
676453  0.000000       NaN  1.000000e+11  1.000000e+11  1.000000e+11
676454  0.000000       NaN  2.048400e+02 -6.890187e+01 -6.025687e+01

           emiss           oma      oma_nobc       imp       dfs
0       0.808905 -8.477887e+00 -7.215997e+00       NaN       NaN
1       0.796859 -3.221851e+00 -3.214722e+00       NaN       NaN
2       0.799757 -1.054891e+00  4.754642e+00       NaN       NaN
3       0.799599  2.074164e+00  1.886987e+00       NaN       NaN
4       0.799180  5.551700e-01  2.964699e-01       NaN       NaN
...          ...           ...           ...       ...       ...
676450  0.862358  1.000000e+11  1.000000e+11       NaN       NaN
676451  0.862358 -2.133925e-01 -1.500741e-01 -0.257904 -0.185898
676452  0.862358  7.457786e-01  9.523360e-01 -0.046848 -0.024121
676453  0.862358  1.000000e+11  1.000000e+11       NaN       NaN
676454  0.950000 -6.917941e+01 -6.044435e+01       NaN       NaN

[676455 rows x 17 columns]

In [10]:
# Remoção de linhas com valores NaN
df_concatenado2.dropna(inplace=True)

# Filtrando os canais sub-representados
df_concatenado2 = df_concatenado2[~df_concatenado2['nchan'].isin([1, 2, 3, 4, 5, 15])]

print(df_concatenado2)

print(separator)

              lat         lon         elev  nchan      time  iuse  idqc  \
6      -86.720299   19.593700  2746.393066    7.0 -1.057500   1.0   0.0
7      -86.720299   19.593700  2746.393066    8.0 -1.057500   1.0   0.0
8      -86.720299   19.593700  2746.393066    9.0 -1.057500   1.0   0.0
9      -86.720299   19.593700  2746.393066   10.0 -1.057500   1.0   0.0
11     -86.720299   19.593700  2746.393066   12.0 -1.057500   1.0   0.0
...           ...         ...          ...    ...       ...   ...   ...
676447  69.628601  358.934998     0.004004    8.0  1.859167   1.0   0.0
676448  69.628601  358.934998     0.004004    9.0  1.859167   1.0   0.0
676449  69.628601  358.934998     0.004004   10.0  1.859167   1.0   0.0
676451  69.628601  358.934998     0.004004   12.0  1.859167   1.0   0.0
676452  69.628601  358.934998     0.004004   13.0  1.859167   1.0   0.0

          inverr       oer         obs       omf  omf_nobc     emiss  \
6       3.993186  0.250388  228.910004 -0.088085  0.687309  0.798472
7       3.636343  0.275001  229.330002  0.271842  0.760085  0.798178
8       2.941169  0.340001  232.179993 -0.014660 -0.027060  0.797235
9       2.499976  0.400004  235.619995  0.144421  0.282552  0.797235
11      0.999805  1.000195  247.419998 -0.612724  0.073795  0.797235
...          ...       ...         ...       ...       ...       ...
676447  3.636359  0.275000  213.229996 -0.166436 -0.320726  0.860974
676448  2.941167  0.340001  210.759995 -0.421741 -0.874053  0.862358
676449  2.499970  0.400005  211.520004 -0.601525 -1.021410  0.862358
676451  0.999762  1.000235  216.610001 -0.550910 -0.483559  0.862358
676452  0.665854  1.501807  219.589996  0.791544  0.962573  0.862358

             oma  oma_nobc       imp       dfs
6      -0.245753  0.527205  0.210216  0.055467
7       0.041793  0.530749 -0.262367 -0.227405
8      -0.317676 -0.325623  0.296185  0.013065
9      -0.215346 -0.086739  0.063791 -0.129893
11     -0.986361 -0.324113  0.597362  0.228892
...          ...       ...       ...       ...
676447  0.041440 -0.122636 -0.094486 -0.125810
676448  0.034701 -0.421654 -0.519590 -0.566175
676449 -0.007739 -0.417078 -0.904421 -0.892933
676451 -0.213392 -0.150074 -0.257904 -0.185898
676452  0.745779  0.952336 -0.046848 -0.024121

[296514 rows x 17 columns]
 =====================================================================================================